$pt_px_scale: 1.5;
//fonts
$fonts_path: "../fonts/";
$fontsize: 16; //base font size, used by default on em calculations
$fontweight: 400;
$line_height: 1;
$fontf1: 'archivo_narrowbold', sans-serif;

//images
//$images_path: "../images/";

//backgrounds
$bg_base: #fff;

//colors
$c_base: #191247;
$c_title1: #706f6e;
$c_title2: #676767;

//borders
$b_title: #929496;
$b_sep: #858585;
